@import url('https://fonts.googleapis.com/css?family=Arapey');

*{
  padding: 0;
  margin: 0;
  font-family: 'Arapey';
  margin-bottom: 10px;

}

.App {
  position: absolute;
  text-align: center;
  display: flex;
  height: auto;
  min-height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: 0;
}


.content {
  position: absolute;
  width: 100%;
  min-height: 100%;
  height: auto;
  min-height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0,0,0,.4); */
  background-color: #000000;
}

.content video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.offscreen {
  position: fixed;
  left: -9999px;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

/* .media-scroller{
  display: grid;
  gap:0;
  grid-auto-flow: column;
  grid-auto-columns: 100%;

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.media-element{
  display: grid;
  grid-template-rows: min-content;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 2.5px rgba(10, 4, 4, 0.329);

} */

.snaps-inline{
  scroll-snap-type: y proximity;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

.homeHero{
  height: 65vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  /* The image used */
  background-image: url("https://s3.amazonaws.com/architecture-org/files/pages/201307-twilight-cruise-089.jpg");

  /* Set a specific height */
  min-height: 65vh;
  width: 100%;
    
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homeDemo1{
  height: 65vh;
  color: white;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.homeFeatures{
  height: 65vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  /* The image used */
  background-image: url("https://s3.amazonaws.com/architecture-org/files/pages/201307-twilight-cruise-089.jpg");

  /* Set a specific height */
  min-height: 65vh;
  width: 100%;
    
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homeTeam {
  /* display:grid;
  place-items: center;
  min-height: 100vh;     */
  background: #222222c7;
  color:gray;
  text-align: center;
  font-family: sans-serif;
  width: 100%;
}

.homeTeam div {
  width: 20vw;
  max-width: 250px;
  height: 50vh;
  background-size:auto 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0 0.5rem;
  filter: grayscale(1) opacity(0.5) contrast(200%);
  transition: 0.5s;
  transform: skewY(-10deg);
  z-index: -1;
}

.homeTeam div:nth-child(2){
  background-image: url("https://media.licdn.com/dms/image/C4D03AQHBoPIiiV4m2Q/profile-displayphoto-shrink_200_200/0/1572719456904?e=1709164800&v=beta&t=P8FRsmH5U88o4TL17fEht8ip1htPTkoNGJtz1KGo4nM");
}

.homeTeam div:nth-child(3){
  background-image: url("https://media.licdn.com/dms/image/D4E03AQFTd373y5ySRQ/profile-displayphoto-shrink_200_200/0/1696988919263?e=1709164800&v=beta&t=g9ExAm1KvkS9bVTLcPwPoZzwY8rf2ABwjUNDSB32s0A");
}

.homeTeam div:nth-child(4){
  background-image: url("https://media.licdn.com/dms/image/D4E03AQGJkfVW4z40bw/profile-displayphoto-shrink_200_200/0/1675017852150?e=1709164800&v=beta&t=MgcLjALwIBMTl39Yc_M4Wtb3MQ-rwnPzI8N-jQfo4A4");
}

.homeTeam div:nth-child(5){
  background-image: url("https://media.licdn.com/dms/image/D4E03AQHvwuTAsJnM5A/profile-displayphoto-shrink_200_200/0/1679094623040?e=1709164800&v=beta&t=G_Cx9imBJyFAbG3hoPGsF2Pv4f3qP1yJxeCkLiz7-g4");
}

.homeTeam div:hover{
  filter: grayscale(0) opacity(1);
  transform: scale(1.1);
  /* box-shadow: 0 25px 50px black; */
  z-index: 8888;
}

.homeTeam div:nth-child(1)::after,
.homeTeam div:nth-child(2)::after,
.homeTeam div:nth-child(3)::after,
.homeTeam div:nth-child(4)::after,
.homeTeam div:nth-child(5)::after{
    content:"Melissa";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-shadow: 3px 3px #555;
}

.homeTeam div:nth-child(1)::after{
  content: "MEET THE TEAM";
  position: absolute;
  top: 25%;
  left: 0;
}
.homeTeam div:nth-child(2)::after{
    content: "Ryan"
}

.homeTeam div:nth-child(3)::after{
    content: "Marcus"
}

.homeTeam div:nth-child(4)::after{
    content: "Cody"
}

.homeTeam div:nth-child(5)::after{
    content: "Melissa"
}

.homeTechStack{
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  /* The image used */
  background-image: url("https://s3.amazonaws.com/architecture-org/files/pages/201307-twilight-cruise-089.jpg");

  /* Set a specific height */
  min-height: 65vh;
  width: 100%;
    
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-top: 50px;
}

.homeDemo2{
  height: 65vh;
  color: white;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.homeERD{
  height: 65vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  /* The image used */
  background-image: url("https://s3.amazonaws.com/architecture-org/files/pages/201307-twilight-cruise-089.jpg");

  /* Set a specific height */
  min-height: 65vh;
  width: 100%;
    
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-magnifier-container {
  position: relative;
}

.magnifier-img {
  width: auto;
  height: 50vh;
}

.magImage {
  width: 300px;
  height: 300px;
  border: 2px solid #ffffff;
  background-size: 800%;

}

.homeDemo3{
  height: 65vh;
  color: white;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.heading {
  font-size: 1rem;
  /* height: 100%; */
  background-image: linear-gradient(#000000 1%, #00000000 99%, #5a42a821, #1eff0000 99%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 2rem; */
  top: 50px;
  padding: 0 1rem;
  /* z-index: 1000; */
  /* width: 100%; */
  backdrop-filter:blur(3px);
}

.sticky {
  position: fixed;
  top: 0;
}

.logo{
  margin: 1%;
}

.logo img{
  object-fit: contain;
  max-height: 8vh;
  margin: 1%;
  padding: 1%;
}

.heading ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.NavLink {
  max-width: 10vw;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.heading button {
  font-size: 1rem;
  color: white;
  background-color: transparent;
  border:0.5px solid white ;
  border-radius: 5px;
  padding: 6px 25px;

}

.heading button:hover{
  background-color: white;
  color: black;
}

.bodySection{
  background: rgba(255, 255, 255, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.footing {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  width: 100%;
  background-image: linear-gradient(#000000, #5a42a8);
  color: white;
}

/* .footing.transparent {
  background-color:transparent;
} */


.footingTopRow{
  display: flex;
  /* align-self: baseline; */
  max-height: 150px;
  margin-top: 2%;
  width: 100%;
  justify-content: space-around;
}

.footingLogo{
  margin-right: 100px;
}

.footing img {
  max-width: 100%;
  max-height: 100px;
  object-fit: contain;
}

.footing ul{
  padding: 0;
  margin-top: 50px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-content: left;
  justify-content: left;
  gap: 2rem;
  font-size: 12px;
}

.footing p {
  margin-top: 50px;
}

.centered-title {
  text-align: center;
  margin-top: px;
}

.centered-title h3 {
  font-size: 35px; /* Adjust the font size as needed */
  margin: 0; /* Remove default margin for h3 */
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between ;
  min-height: 10vh;
}


form input {
  border: 1px solid rgba(255, 255, 255, 0.432);
  /* background-image: linear-gradient(90deg, #004bad, #cc6ce6); */
  width: 250px;
  border-radius: 20px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  color: rgba(255, 253, 253, 0.932);
  background-color: #00000000;
}

.input-group{
  position: relative;
}

.icon {
  position: absolute;
  top: 40%;
  right: 20px; 
  transform: translateY(-50%);
}

form input::placeholder{
  color: white;
}

form input:hover{
 box-shadow: 5px 5px 2.5px rgba(10, 4, 4, 0.329);
}

form button {
  appearance: none;
  outline: 0;
  background-color: rgb(255, 255, 255);
  border: 1;
  padding: 10px 15px;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  cursor: pointer;
  border-color: #0000007e;
  width: 100%;
  font-size: 18px;
}

form button:hover{
  background-color: #42494b4b;
  color: rgb(255, 255, 255);
  box-shadow: 2px 2px 1px rgba(128, 128, 128, 0.61);
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  height: 26px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 26px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  left: calc(100% - 26px - 26px);
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.label {
  text-align: left;
}

.developer{
  display: flex;
  align-items: baseline;
  background: rgb(83, 160, 83);
  color: white;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm{
  padding: 20px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: rgba(255, 255, 255, 0.418);
  background-color: rgba(230, 227, 227, 0.116);
  box-shadow: 4px 4px 2px rgba(12, 6, 6, 0.281);
  backdrop-filter: blur(15px);
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.loginForm h3 {
  font-size: 2rem;
  margin: 10px;
  padding-bottom:20px;
}


.resmsg {
  /* background-color: lightpink; */
  color: red;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

html, body {
  height: 100%;
  margin: 0;
}


.dashboard {
  /* background-image: url('./static/dashboard.png'); */
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: baseline;
  flex-direction: column;
}

.dashHead {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  margin: -10px 0px 0px 0px;
  padding: 20px 0px 50px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard h1 {
  font-size: 3rem;
  color: rgb(255, 255, 255);
  padding: 0px 0px 0px 7% ;
  position: sticky;
  top: 0;
  left: 0;
}

.dashboard h1::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 40%;
  width: 50%;
  height: 4px; 
  background-color:rgb(255, 255, 255); 
}

/* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
  .dashColumn {
    margin: 5px 0 100px 0; /* Adjust margin for smaller screens */
  }
}

.dashBody {
  background-color: rgba(255, 255, 255, 0);
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  height: 100%;
  margin-top: -30px;
}

.dashColumn{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  margin: 5px 0 200px ; /* top right bottom left */
  height: 100%;
  width: 96%;
  max-width: 615px;
  flex: 1;
  position: relative;
}

.dashCore {
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  flex-direction: column;
  justify-content: space-between;
  /* margin-bottom: 10px; */
}


.testblock {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #e6dfdae1;
  border-radius: 10px;
  box-shadow: 2px 2px 1px rgba(128, 128, 128, 0.61);
  height: 100%;
  margin: 10px;
}

/* column color block */
body {
  margin: 0; 
  background-image: url('./static/backgroundVideo_crop.mp4'); /* Replace with the path to your background image */
  background-size: cover; /* Ensure the background image covers the entire viewport */
  background-position: center; /* Center the background image */
  position: relative; /* Required for z-index */
  margin-top: -10px;
}

body::before {
  content: ""; 
  position: fixed; 
  top: 0;
  left: 0;
  height: 100vh; 
  width: 33%; 
  background: linear-gradient(rgba(0, 0, 0, 0.829), rgba(47, 188, 223, 0.884)); 
  z-index: 0; 
  box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, 0.747);
}

@media (max-width: 768px) {
  .dashColumn, dashboard h1::after, .dashboard h1 {
    margin: 5px 0 100px 0; /* Adjust margin for smaller screens */
  }
}

.accountBlock {
  position: relative;
  display: flex;
  gap: 2rem;
  justify-content: left;
  grid-template-columns: 1fr 1fr;
  border-style: solid;
  border-width: 1px;
  border-color: #17475109;
  border-radius: 10px;
  box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.253);
  margin: 10px 10px 10px 30px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.945);
  padding: 20px 0px 0px 10px;
  border: 4px solid rgba(47, 188, 223, 0.822);
  border-radius: 10px;
}

.accountBlock::before {
  content: "";
  position: absolute; /* Change to absolute */
  top: 0;
  left: 0;
  height: 100%;
  width: 28%; /* Full width of the container */
  background: linear-gradient(rgba(47, 188, 223, 0.822), rgba(255, 255, 255, 0.945));
  z-index: 0; 
  border-radius: 0px 10px;
}

.accountLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.accountRight {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: baseline;
  margin-right: 20px;
  width: 100%;
}

.accountRight h2,
.accountRight h3,
.accountRight p {
  margin: 0;
  padding: 0 30px;
}

.accountRight h2 {
  font-size: 37px;
}

.accountBlock img {
  border-style: solid;
  border-radius: 100px;
  height: 100px;
  width: 100px;
  object-fit: cover;
}


.accountDetailsOpen {
  position: fixed;
  left: 50%;
  top: 50%;
  height: 80%;
  width: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: white;
  color: black;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 10px rgba(128, 128, 128, 0.61);
}

.accountDetails img{
  border-style: solid;
  border-radius: 100px;
  height: 100px;
  width: 100px;
  object-fit:cover;
  margin: 20px;
}

.accountDetails form{
  color: black;
  display: flex;
  flex-direction: column;
  justify-content:left;
}

.accountDetails input{
  color: black;
  text-align: left;
  align-self: left;
  border: solid;
  border-width: 1px;
}

.accountDetails button{
  appearance: none;
  outline: 0;
  background-color: white;
  border: 1;
  padding: 10px 15px;
  color: black;
  border-radius: 3px;
  width: 250px;
  height: auto;
  font-size: 20px;
  align-self: center;
}

.accountDetails button:hover{
  background-image: linear-gradient(#000000, #5a42a8);
  color: white;
  box-shadow: 2px 2px 1px rgba(128, 128, 128, 0.61);
}

.homeIDBlock{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-style: solid;
  border-width: 1px;
  border-color: #17475109;
  border-radius: 10px;
  box-shadow: 2px 2px 1px rgba(128, 128, 128, 0.61);
  height: 100%;
  margin: 10px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.685);
}

.homeIDLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeIDRight {
  display: flex;
  flex-direction: column;
  justify-content:start;
  align-items: baseline;
}

.homeIDRight h2 {
  margin: 0px 0px 10px 0px;
  padding: 0px 0px;
}

.homeIDRight h3 {
  margin: 0px 0px;
  padding: 0px 0px;
}

.homeIDRight p {
  margin: 0px 10px 0px 0px;
  padding: 0px 0px;
}

.homeIDaddress{
  display: flex;
  justify-content: space-around;
}


.homeIDBlock img{
  border-style: solid;
  border-radius: 10px;
  height: 150px;
  aspect-ratio: 1;
  object-fit:cover;
  align-self: center;
}

.columnHeader h2 { /*also for recentpayments/ost/oa */
  color: rgb(255, 255, 255);
  margin: 1px 0 0 30px;
  text-shadow:0px 0px 20px rgb(0, 0, 0);
  font-size: 35px;
  text-align: left;
}


.overdueAccounts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-color: #17475109;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.774);
  height: 100%;
  margin: 5px 20px 60px 20px;
  max-height: 300px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.overdueAccounts table {
  margin: 0;
  max-height: 100%;
  height: 100%;
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  padding: 0;
}

/* .overdueAccounts:hover {
  transform: scaleY(1.1);

} */

.overdueAccounts tr {
  border-bottom: 1px solid rgba(223, 47, 47, 0.89);
  height: 20px;
  padding: 10px 30px 10px 30px;
  text-align: left;
}

.overdueAccounts tr td {
  text-align: left;
  padding: 10px 30px;
}

.overdueAccounts tr:nth-of-type(even) {
  background-color: #d9dcdfb4;
}

.overdueAccounts tr:last-of-type {
  border-bottom: 5px solid rgba(223, 47, 47, 0.89);
}

.overdueAccounts tr:hover {
  box-shadow: 2px 2px 1px rgba(128, 128, 128, 0.61);
  font-weight: bold;
  color: #c213136c;
  cursor: pointer;
}

/* overdueAccounts categories titles */
.overdueAccounts th {
  background-color: rgba(223, 47, 47, 0.822);
  color: rgb(255, 255, 255);
  border-style: hidden;
  border-right-color: rgba(128, 128, 128, 0.377);
  text-align: left;
  text-transform: uppercase;
  font-size: 17px;
  padding: 10px 30px;
  line-height: 10px;
}

.recentPayments {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-color: #17475109;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.774);
  height: 100%;
  margin: 10px 10px 10px 30px;
  background-color: rgba(255, 255, 255, 0.904);
}

.recentPayments table {
  margin: 0;
  max-height: 100%;
  height: 100%;
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  padding: 0;
}

.recentPayments tr {
  border-bottom: 1px solid rgba(47, 188, 223, 0.822);
  height: 20px;
  padding: 10px 30px 10px 30px;
  text-align: left;
}

.recentPayments tr td {
  text-align: left;
  padding: 10px 30px;
}

.recentPayments tr:nth-of-type(even) {
  background-color: #d9dcdfb4;
}

.recentPayments tr:last-of-type {
  border-bottom: 5px solid rgba(47, 188, 223, 0.822);
}

.recentPayments tr:hover {
  box-shadow: 2px 2px 1px rgba(128, 128, 128, 0.61);
  font-weight: bold;
  color: #178b8f6c;
  cursor: pointer;
}

.recentPayments th {
  background-color: rgba(47, 188, 223, 0.822);
  color: rgb(255, 255, 255);
  border-style: hidden;
  border-right-color: rgba(128, 128, 128, 0.377);
  text-align: left;
  text-transform: uppercase;
  font-size: 17px;
  padding: 10px 30px;
  line-height: 10px;
}
 
.openServiceTickets {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-color: #17475109;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.774);
  height: 100%;
  margin: 10px 10px 10px 30px;
  background-color: rgba(255, 255, 255, 0.904);
}

.openServiceTickets table {
  margin: 0;
  max-height: 100%;
  height: 100%;
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  padding: 0;
}

.openServiceTickets tr {
  border-bottom: 1px solid rgba(47, 188, 223, 0.822);
  height: 20px;
  padding: 10px 30px 10px 30px;
  text-align: left;
}

.openServiceTickets tr td {
  text-align: left;
  padding: 10px 30px;
}

.openServiceTickets tr:nth-of-type(even) {
  background-color: #d9dcdfb4;
}

.openServiceTickets tr:last-of-type {
  border-bottom: 5px solid rgba(47, 188, 223, 0.822);
}

.openServiceTickets tr:hover {
  box-shadow: 2px 2px 1px rgba(128, 128, 128, 0.61);
  font-weight: bold;
  color: #178b8f6c;
  cursor: pointer;
}

.openServiceTickets th {
  background-color: rgba(47, 188, 223, 0.822);
  color: rgb(255, 255, 255);
  border-style: hidden;
  border-right-color: rgba(128, 128, 128, 0.377);
  text-align: left;
  text-transform: uppercase;
  font-size: 17px;
  padding: 10px 30px;
  line-height: 10px;
}

 

.tenantServiceTickets {
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-color: #17475109;
  border-radius: 10px;
  box-shadow: 2px 2px 1px rgba(128, 128, 128, 0.61);
  height: 100%;
  margin: 10px;
  padding: 20px 10px 0px 10px;
  background-color: rgba(255, 255, 255, 0.685);
}

.tenantServiceTickets table {
  margin: 5px;
  border-collapse: collapse;
  text-align: left;
}

.tenantServiceTickets tr {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.tenantServiceTickets tr:hover {
  box-shadow: 2px 2px 1px rgba(128, 128, 128, 0.61);
}

.tenantServiceTickets th {
  background-color: rgba(128, 128, 128, 0.377);
  border-style:hidden;
  border-right-color: rgba(128, 128, 128, 0.377);
}
 
.tenantServiceTickets h2 {
  color: black;
  text-align: center;
  margin: 0px 0px 10px 0px;
}

.accountBalance {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  max-width: 30%;
  border-left-style: solid;
  border-left-color: rgba(128, 128, 128, 0.377);
  background-color: rgba(255, 255, 255, 0.685);
  border-radius: 10px;
  margin: 10px 20px 0px 10px;
  padding: 20px;
}

.accountBalance h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.accountBalance p {
  font-size: 3rem;
  margin: 2px;
}

.accountBalance h3 {
  margin: 0;
}

.accountBalance button {
  width: 50%;
  height: 30px;
  font-size: 1rem;
  align-self: center;
  margin: 10px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  border-style: solid;
  border-width: 0.5px;
  border-color: rgba(128, 128, 128, 0.651);
  color: black;
}

.accountBalance button:hover{
  box-shadow: 2px 2px 1px rgba(128, 128, 128, 0.61);
  color: rgba(128, 128, 128, 0.473);
}

.ledger {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-color: #17475109;
  border-radius: 10px;
  box-shadow: 2px 2px 1px rgba(128, 128, 128, 0.61);
  height: 100%;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.884);
}

.ledger table {
  margin: 10px;
  border-collapse: collapse;
  text-align: left;
}

.ledger tr {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  height: 50px;
}

.ledger tr:hover {
  box-shadow: 2px 2px 1px rgba(128, 128, 128, 0.61);
}

.ledger th {
  background-color: rgba(128, 128, 128, 0.377);
  border-style:hidden;
  border-right-color: rgba(128, 128, 128, 0.377);
}
 
.ledger h2 {
  color: #174751;
  text-align: left;
  margin: 0px;
}

.newPaymentClosed {
  /* background-color: red; */
  /* display: none; */
  position: fixed;
  top: 0;
  right: -100%;
  width: 35%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: white;
  padding: 20px;
  overflow-x: hidden;
  transition: 1s cubic-bezier(.36,-0.01,0,.77);
  box-sizing: border-box;
}

.newPaymentOpen {
  /* background-color: red; */
  /* display: none; */
  position: fixed;
  top: 0;
  right: -100px;
  width: 35%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  overflow-x: hidden;
  transition: 1s cubic-bezier(.36,-0.01,0,.77);
  box-sizing: border-box;
  box-shadow: 10px 15px 100px 10px rgba(128, 128, 128, 0.61);

}


.Properties {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: start;
  border-color: #17475109;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.774);
  height: 100%;
  margin: 5px 20px 60px 20px;
  max-height: 300px;
  background-color: rgb(255, 255, 255);
  overflow:hidden;
}

.propertiesHeader {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px 0px 10px;
  
}

.Properties table {
  margin: 0; /* Adjusted margin to 0 */
  max-height: 100%; /* Change max-height to 100% */
  height: 100%;
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  padding: 0;
  
}

.Properties tr {
  border-bottom: 1px solid rgb(192, 206, 231);
  height: 20px;
  padding: 10px 30px 10px 30px;
  text-align: left;
}

.Properties tr td {
  text-align: left;
  padding: 10px 30px;
}

/* .Properties th,
.Properties td {
  padding: 10px 30px;
} */



.Properties tr:nth-of-type(even) {
  background-color: #d9dcdfb4;
  
}

.Properties tr:last-of-type {
  border-bottom: 5px solid rgba(47, 188, 223, 0.822);
}

.Properties tr:hover {
  box-shadow: 2px 2px 1px rgba(128, 128, 128, 0.61);
  font-weight: bold;
  color: #178b8f6c;
  cursor: pointer;
}

/*properties categories titles */
.Properties th {
  background-color: rgba(47, 188, 223, 0.822);
  color: rgb(255, 255, 255);
  border-style: hidden;
  border-right-color: rgba(128, 128, 128, 0.377);
  text-align: left;
  text-transform: uppercase;
  font-size: 17px;
  padding: 10px 30px; /* Adjusted padding */
  line-height: 10px;
 
}

.propertiesHeader h2 { /*also accountsHeader */
  color: rgb(255, 255, 255);
  margin: 10px 15px;
  text-shadow:0px 0px 20px rgb(0, 0, 0);
  font-size: 35px;
}


.proppopoverClosed {
  /* background-color: red; */
  /* display: none; */
  position: fixed;
  top: 0;
  right: -35%;
  width: 35%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: white;
  padding: 20px;
  overflow-x: hidden;
  transition: 1s cubic-bezier(.36,-0.01,0,.77);
  box-sizing: border-box;
}

.proppopoverOpen {
  /* background-color: red; */
  /* display: none; */
  position: fixed;
  top: 0;

  width: 35%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  overflow-x: hidden;
  transition: 1s cubic-bezier(.36,-0.01,0,.77);
  box-sizing: border-box;
  box-shadow: 10px 15px 100px 10px rgba(128, 128, 128, 0.61);

}

.openpopover {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 40px;
  background: rgba(255, 255, 255, 0.959);
  border: 3px solid rgba(47, 188, 223, 0.822);
  font-size: 2rem;
  line-height: 30px; 
  color: rgba(47, 188, 223, 0.822);
  border-radius: 10px;
  transform: translateX(-15px);
}



.openpopover:hover {
  box-shadow: 2px 2px 1px rgba(165, 162, 162, 0.377);
  cursor: pointer;
}


.closepopover button{
  margin-bottom: 20px;
  position: absolute;
  right: 115px;
  height: 40px;
  width: 40px;
  background: rgba(255, 255, 255, 0.212);
  border-style: solid;
  border-width: 0.5px;
  border-color: rgba(128, 128, 128, 0.651);
  font-size: 1.2rem;
  color: rgba(128, 128, 128, 0.473);
  border-radius: 10px;
}

.closepopover button:hover{
  box-shadow: 2px 2px 1px rgba(128, 128, 128, 0.61);
}

.recordOpen {
  position: fixed;
  left: 50%;
  top: 50%;
  height: 90%;
  width: 75%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: white;
  color: black;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 10px rgba(128, 128, 128, 0.61);
}

.recordClosed {
  position: absolute;
  left: -300%;
  left: 50%;
  top: 50%;
}

.closeRecord button{
  margin-bottom: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  height: 40px;
  width: 40px;
  background: rgba(255, 255, 255, 0.212);
  border-style: solid;
  border-width: 0.5px;
  border-color: rgba(128, 128, 128, 0.651);
  font-size: 1.2rem;
  color: rgba(128, 128, 128, 0.473);
  border-radius: 10px;
}

.closeRecord button:hover{
  box-shadow: 2px 2px 1px rgba(128, 128, 128, 0.61);
}

.newProperty {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  color: black;

}

.newProperty h2{
  margin-bottom: 20px;
  /* margin-left: 20px; */
  align-self: baseline;
  color: black;
}

.newProperty form{
  display: flex;
  align-items: left;
  justify-content: left;
  align-content: left;
  flex-direction: column;
  color: black;
  
}

.newProperty label{
  text-align: left;
  margin: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.newProperty input{
  background-color: rgba(255, 255, 255, 0);
  border-style: solid;
  border-color: black;
  align-self: left;
  text-align: left;
  color: black;
}

.newProperty select {
  margin: 10px;
  font-size: 1.5rem;
  align-self: left;
}

.newProperty button{
  appearance: none;
  outline: 0;
  background-color: white;
  border: 1;
  padding: 10px 15px;
  color: black;
  border-radius: 10px;
  width: 250px;
  height: auto;
  font-size: 20px;
  align-self: center;
}

.newProperty button:hover{
  background-image: linear-gradient(#000000, #5a42a8);
  color: white;
  box-shadow: 2px 2px 1px rgba(128, 128, 128, 0.61);
}

.propertyDetailsOpen {
  position: fixed;
  left: 50%;
  top: 50%;
  height: 80%;
  width: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: white;
  color: black;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 10px rgba(128, 128, 128, 0.61);
  background-image: url("https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img/https://www.glenwoodnyc.com/wp-content/uploads/2022/05/2-JSP-LOBBY-01-02-1280.jpg");
  backdrop-filter: blur(5px);
}

.propertyDetailsBackground{
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}


.propertyDetails{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.propertyDetails h1{
  margin: 10px;
  text-align: left;
}

.propertyDetails img{
  border-style: solid;
  border-radius: 10px;
  height: auto;
  width: 50%;
  object-fit:cover;
  margin: 20px;
  align-self: center;
  justify-self: center;
}

.propertyDetails form{
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  column-gap: 0px;
  background-color: black;
}

.propertyDetails input{
  color: white;
  text-align: left;
  align-self: left;
  border: solid;
  border-width: 1px;
}

.propertyDetails button{
  appearance: none;
  outline: 0;
  background-color: white;
  border: 1;
  padding: 10px 15px;
  color: black;
  border-radius: 3px;
  width: 250px;
  height: auto;
  font-size: 20px;
  justify-self: center;
  grid-column: span 2;
  
}

.propertyDetails button:hover{
  background-image: linear-gradient(#000000, #5a42a8);
  color: white;
  box-shadow: 2px 2px 1px rgba(128, 128, 128, 0.61);
}

.newAccount {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  color: black;

}

.newAccount h2{
  margin-bottom: 20px;
  /* margin-left: 20px; */
  align-self: baseline;
  color: black;
}

.newAccount form{
  display: flex;
  align-items: left;
  justify-content: left;
  align-content: left;
  flex-direction: column;
  color: black;
  
}

.newAccount label{
  text-align: left;
  margin: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.newAccount input{
  background-color: rgba(255, 255, 255, 0);
  border-style: solid;
  border-color: black;
  align-self: left;
  text-align: left;
  color: black;
}

.newAccount select {
  margin: 10px;
  font-size: 1.5rem;
  align-self: left;
}

.newAccount button{
  appearance: none;
  outline: 0;
  background-color: white;
  border: 1;
  padding: 10px 15px;
  color: black;
  border-radius: 10px;
  width: 250px;
  height: auto;
  font-size: 20px;
  align-self: center;
}

.newAccount button:hover{
  background-image: linear-gradient(#000000, #5a42a8);
  color: white;
  box-shadow: 2px 2px 1px rgba(128, 128, 128, 0.61);
}

.newPayment {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: left;

}

.newPayment h2{
  margin-bottom: 20px;
  /* margin-left: 20px; */
  align-self: baseline;
}

.newPayment form{
  display: flex;
  align-items: left;
  justify-content: left;
  align-content: left;
  flex-direction: column;
  color: black;
  
}

.newPayment label{
  text-align: left;
  margin: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.newPayment input{
  background-color: rgba(255, 255, 255, 0);
  border-style: solid;
  border-color: black;
  justify-self: left;
  text-align: left;
  color: black;
}

.newPayment select {
  margin: 10px;
  font-size: 1.5rem;
  align-self: left;
}

.newPayment button{
  appearance: none;
  outline: 0;
  background-color: white;
  border: 1;
  padding: 10px 15px;
  color: black;
  border-radius: 3px;
  width: 250px;
  height: auto;
  font-size: 20px;
}

.newPayment button:hover{
  background-image: linear-gradient(#000000, #5a42a8);
  color: white;
  box-shadow: 2px 2px 1px rgba(128, 128, 128, 0.61);
}

.payPopOpen {
  position: fixed;
  left: 50%;
  top: 50%;
  height: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: white;
  color: black;
  border: solid;
  border-radius: 10px;
  box-shadow: 2px 2px 1px rgba(128, 128, 128, 0.61);

}

.payPopOpen h1 {
  color: black;
}

.Accounts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: start;
  border-color: #17475109;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.774);
  height: 100%;
  margin: 5px 20px 180px 20px; /* 3rd one vertically moves accounts table */
  max-height: 300px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.AccountsHeader {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px 0px 10px;
}

.Accounts table {
  margin: 0;
  max-height: 100%;
  height: 100%;
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  padding: 0;
}

.Accounts tr {
  border-bottom: 1px solid rgb(192, 206, 231);
  height: 20px;
  padding: 10px 30px 10px 30px;
  text-align: left;
}

.Accounts tr td {
  text-align: left;
  padding: 10px 30px;
}

.Accounts tr:nth-of-type(even) {
  background-color: #d9dcdfb4;
}

.Accounts tr:last-of-type {
  border-bottom: 5px solid rgba(47, 188, 223, 0.822);
}

.Accounts tr:hover {
  box-shadow: 2px 2px 1px rgba(128, 128, 128, 0.61);
  font-weight: bold;
  color: #178b8f6c;
  cursor: pointer;
}

/* Accounts Categories Titles */
.Accounts th {
  background-color: rgba(47, 188, 223, 0.822);
  color: rgb(255, 255, 255);
  border-style: hidden;
  border-right-color: rgba(128, 128, 128, 0.377);
  text-align: left;
  text-transform: uppercase;
  font-size: 17px;
  padding: 10px 30px; /* Adjusted padding */
  line-height: 10px;
}


.billingAccountRecordOpen {
  position: fixed;
  left: 50%;
  top: 50%;
  height: 90%;
  width: 100%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 3fr 5fr;
  grid-row-gap: 0px;
  grid-column-gap: 200px;
  background-color: white;
  color: black;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 10px rgba(128, 128, 128, 0.61);
  vertical-align: top
}

.billingAccountRecordOpen h1{
  text-align: left;
}

.transactionRecordOpen {
  position: fixed;
  left: 85%;
  top: 25%;
  height: 25%;
  width: 25%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: white;
  color: black;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 10px rgba(128, 128, 128, 0.61);
  
}

.detailsLedger {
  grid-column: span 2;
  align-content: baseline;
  vertical-align: top;
}

.detailsLedgerHeader {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 0px 10px;
}

.newLedger {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: left;

}

.newLedger h2{
  margin-bottom: 20px;
  /* margin-left: 20px; */
  align-self: baseline;
}

.newLedger form{
  display: flex;
  align-items: left;
  justify-content: left;
  align-content: left;
  flex-direction: column;
  color: black;
  
}

.newLedger label{
  text-align: left;
  margin: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.newLedger input{
  background-color: rgba(255, 255, 255, 0);
  border-style: solid;
  border-color: black;
  justify-self: left;
  align-self: left;
  text-align: left;
  color: black;
}

.newLedger select {
  margin: 10px;
  margin-right: 20%;
  font-size: 1.5rem;
  align-self: left;
  border-style: solid;
  border-width: 1px;
}

.newLedger textarea {
  margin: 10px;
  margin-right: 20%;
  font-size: 1rem;
  align-self: left;
  border-style: solid;
  border-width: 1px;
}

.newLedger button{
  appearance: none;
  outline: 0;
  background-color: white;
  border: 1;
  padding: 10px 15px;
  color: black;
  border-radius: 3px;
  width: 250px;
  height: auto;
  font-size: 20px;
  align-self: center;
}

.newLedger button:hover{
  background-image: linear-gradient(#000000, #5a42a8);
  color: white;
  box-shadow: 2px 2px 1px rgba(128, 128, 128, 0.61);
}

.billingAccountRecordOpen img{
  border-style: solid;
  border-radius: 100px;
  height: 100px;
  width: 100px;
  object-fit:cover;
  margin: 20px;
}

.billingAccountRecordOpen form{
  color: black;
  display: flex;
  flex-direction: column;
  justify-content:left;
  margin-top: 10px;
}

.billingAccountRecordOpen input{
  color: black;
  text-align: left;
  align-self: left;
  border: solid;
  border-width: 1px;
}

.formButton{
  appearance: none;
  outline: 0;
  background-color: white;
  border: 1;
  padding: 10px 15px;
  color: black;
  border-radius: 3px;
  width: 250px;
  height: auto;
  font-size: 20px;
  align-self: center;
  margin-top: 10px;
}

.formButtom:hover{
  background-image: linear-gradient(#000000, #5a42a8);
  color: white;
  box-shadow: 2px 2px 1px rgba(128, 128, 128, 0.61);
}

.userDash{
  display: grid;
  grid-template-columns: 3;
  grid-row: auto;
  width: 100%;
}

.userDashItem4 {
  grid-column: span 3; /* span from grid column line 1 to 3 (i.e., span 2 columns) */
  grid-row: 2;    /* same concept, but for rows */
}
.userDashItem5 {
  grid-column: span 3; /* span from grid column line 1 to 3 (i.e., span 2 columns) */
  grid-row: 3;    /* same concept, but for rows */
}


.aboutHero{
  color: white;
  background-color: #ffffff9a;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.aboutHero h1 {
  font-size: 2rem;
}

.aboutHero img{
  height: 100%;
  width: 100%;
}

.aboutSection{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px 75px;
}

.contactForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactForm button {
  margin: 15px;
}